@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.head {
  font-family: 'Patrick Hand', cursive;
  font-size: 4rem;
  color: black;

  letter-spacing:2px;
  padding-bottom: 50px;
}

item p{
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .head{
    font-size: 2rem;
  }
}